<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/home/images/img_1.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-5 ml-auto pl-md-5">
                <span class="text-cursive h5 text-red">About Us</span>
                <h3 class="text-black">Bring Fun Life To Your Kids</h3>
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et harum, magni sequi nostrum maxime enim.</span><span>Magnam id atque dicta deleniti, ipsam ipsum distinctio. Facilis praesentium voluptatem accusamus, earum veritatis, laudantium.</span></p>
            </div>
        </div>
    </div>
</div>