<header class="site-navbar site-navbar-target" role="banner">
    <div class="container mb-3">
        <div class="d-flex align-items-center">
            <div class="site-logo mr-auto">
                <a th:href="@{/}">Child Care<span class="text-primary">.</span></a>
            </div>
            <div class="site-quick-contact d-none d-lg-flex ml-auto ">
                <div class="d-flex site-info align-items-center mr-5">
                    <a th:href="@{/sign-up}" class="btn btn-primary">Registration</a>
                </div>
                <div class="d-flex site-info align-items-center">
                    <a th:href="@{/login}" class="btn btn-primary">Log In</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="menu-wrap d-flex align-items-center">
            <span class="d-inline-block d-lg-none"><a href="#" class="text-black site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h3 text-black"></span></a></span>
            <nav class="site-navigation text-left mr-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav mr-auto ">
                    <li><a th:href="@{/}" class="nav-link">Home</a></li>
                    <li><a th:href="@{/about}" class="nav-link">About</a></li>
                    <li><a th:href="@{/packages}" class="nav-link">Packages</a></li>
                    <li><a th:href="@{/gallery}" class="nav-link">Gallery</a></li>
                    <li><a th:href="@{/contact}" class="nav-link">Contact</a></li>
                </ul>
            </nav>
            <div class="top-social ml-auto">
                <a href="#"><span class="icon-facebook text-teal"></span></a>
                <a href="#"><span class="icon-twitter text-success"></span></a>
                <a href="#"><span class="icon-linkedin text-yellow"></span></a>
            </div>
        </div>
    </div>
</header>