<script src="home/js/jquery-3.3.1.min.js"></script>
<script src="home/js/jquery-migrate-3.0.0.js"></script>
<script src="home/js/popper.min.js"></script>
<script src="home/js/bootstrap.min.js"></script>
<script src="home/js/owl.carousel.min.js"></script>
<script src="home/js/jquery.sticky.js"></script>
<script src="home/js/jquery.waypoints.min.js"></script>
<script src="home/js/jquery.animateNumber.min.js"></script>
<script src="home/js/jquery.fancybox.min.js"></script>
<script src="home/js/jquery.stellar.min.js"></script>
<script src="home/js/jquery.easing.1.3.js"></script>
<script src="home/js/bootstrap-datepicker.min.js"></script>
<script src="home/js/aos.js"></script>
<script src="home/js/main.js"></script>