<link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700|Indie+Flower" rel="stylesheet">
<link rel="stylesheet" href="home/fonts/icomoon/style.css">
<link rel="stylesheet" href="home/css/bootstrap.min.css">
<link rel="stylesheet" href="home/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="home/css/jquery.fancybox.min.css">
<link rel="stylesheet" href="home/css/owl.carousel.min.css">
<link rel="stylesheet" href="home/css/owl.theme.default.min.css">
<link rel="stylesheet" href="home/fonts/flaticon/font/flaticon.css">
<link rel="stylesheet" href="home/css/aos.css">
<link rel="stylesheet" href="home/css/style.css">