<div class="site-section bg-light">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <span class="text-cursive h5 text-red d-block">Testimonial</span>
                <h2 class="text-black">What Our Client Says About Us</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="testimonial-3-wrap">
                    <div class="owl-carousel nonloop-block-13">
                        <div class="testimonial-3 d-flex">
                            <div class="vcard-wrap mr-5">
                                <img src="/home/images/person_1.jpg" alt="Image" class="vcard img-fluid">
                            </div>
                            <div class="text">
                                <h3>Jeff Woodland</h3>
                                <p class="position">Partner</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam earum libero rem maxime magnam. Similique esse ab earum, autem consectetur.</p>
                            </div>
                        </div>

                        <div class="testimonial-3 d-flex">
                            <div class="vcard-wrap mr-5">
                                <img src="/home/images/person_3.jpg" alt="Image" class="vcard img-fluid">
                            </div>
                            <div class="text">
                                <h3>Jeff Woodland</h3>
                                <p class="position">Partner</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam earum libero rem maxime magnam. Similique esse ab earum, autem consectetur.</p>
                            </div>
                        </div>

                        <div class="testimonial-3 d-flex">
                            <div class="vcard-wrap mr-5">
                                <img src="/home/images/person_2.jpg" alt="Image" class="vcard img-fluid">
                            </div>
                            <div class="text">
                                <h3>Jeff Woodland</h3>
                                <p class="position">Partner</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam earum libero rem maxime magnam. Similique esse ab earum, autem consectetur.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>